body{
    padding: 0;
    margin: 0;
    background: #cccccc;
    font-family: Verdana;
    overflow-x: hidden;
}

/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 200px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #202020; /* Black #111 */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

/* The navigation menu links */
.sidenav a, .dropdown-btn, .inputFile{
    padding: 12px 8px 12px 20px;
    text-decoration: none;
    font-family: Verdana;
    font-size: 14px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: default;
    outline: none;
    overflow-x: hidden;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .dropdown-btn:hover, .inputFile:hover{
    color: #f1f1f1;
    background-color: #474747;
}

/* Add an active class to the active dropdown button */
.active {
    background-color: #ff6b6b;
    color: white;
}
.active:hover{
    background-color: #ff6b6b;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 0px;
    overflow-x: hidden;
}

/* Optional: Style the caret down icon */
.fa-caret-down, .fa-plus-square-o {
    float: right;
    padding-right: 8px;
    overflow-x: hidden;
}

/* Style the input file tag */
.inputFile{
    background-color: #262626;
    z-index: 5;
    width: 200px;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}


/* Style page content */
.main {
    margin-left: 200px; /* Same as the width of the sidebar */
    padding: 0px 0px;
    width: 780px;
    height: 550px;
    overflow-x: hidden;
}

/* Registration button */
.sidenav .reg_btn {
    position: absolute;
    display: block;
    bottom: 0;
    margin-bottom: 70px;
    margin-left: 20px;
    background-color: #ff6b6b;
    border: none;
    outline: none;
    width: 160px;
    overflow-x: hidden;
    font-family: Verdana;
    font-size: 16px;
    color: #fff;/*#F7F7F7;*/
    font-weight: 10;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 3px;
}
.reg_btn:hover{
    background-color: #FF8080;
}
.reg_btn:active{
    background-color: #c55050;
}


.footer{
    position: fixed;
    bottom: 0;
    overflow-x: hidden;
    background-color: #202020;
    width: 100%;
    height: 35px;
    z-index: 10;
    border-top-style: solid;
    border-top-color: #111;
    border-top-width: 1px;
}

/* Progress bar */
#myProgress {
    width: 100%;
    background-color: #202020;
}
#myBar {
    width: 0%;
    height: 3px;
    position: fixed;
    bottom: 0;
    background-color: #ff6b6b;
}

/*Inputs div*/
.inputs{
    position: fixed;
    background-color: #5d5f60;
    width: 300px;
    height: 100%;
    overflow-x: hidden;
}
.fixedImage{
    background-color: rgba(126, 126, 126, 0.45);
    width: 200px;
    height: 200px;
    margin: 40px 0px 0px 50px; 
}
#fixedFile{
    width: 200px;
    height: 200px;
    border-radius: 4px;
}
.movingImage{
    background-color: rgba(126, 126, 126, 0.45);
    width: 200px;
    height: 200px;
    margin: 40px 0px 0px 50px; 
}
#movingFile{
    width: 200px;
    height: 200px;
    border-radius: 4px;
}


/* Outputs div */
.outputs{
    background-color: #444749;
    width: 430px;
    height: 100%;
    margin-left: 300px;
    overflow-x: hidden;
    position: fixed;
}

* {box-sizing: border-box;}

.img-zoom-container {
    position: relative;
    margin-top: 40px;
    margin-left: 50px;
}

.img-zoom-lens {
    position: absolute;
    border: 1px solid #d4d4d4;
    /*set the size of the lens:*/
    width: 40px;
    height: 40px;
}

.img-zoom-result {
    border: 1px solid #d4d4d4;
    /*set the size of the result div:*/
    width: 200px;
    height: 200px;
    margin-top: 40px;
    
}
/*.outputImage{
    background-color: rgba(126, 126, 126, 0.45);
    width: 200px;
    height: 200px;
    margin: 40px 0px 0px 50px; 
}
#outputFile{
    width: 200px;
    height: 200px;
    border-radius: 6px;
}
.zoomImage{
    background-color: rgba(126, 126, 126, 0.45);
    width: 200px;
    height: 200px;
    margin: 40px 0px 0px 50px; 
}
#zoomFile{
    width: 200px;
    height: 200px;
    border-radius: 6px;
}
*/
.data{
    width: 110px;
    height: 200px;
    position: fixed;
    margin-left: 100px;
    background-color: rgba(0,0,0,0.3);
    z-index: 5;
    right: 0;
    top: 0;
    margin: 40px 73px 0px 0px;
    border-radius: 4px;
    border-style: solid;
    border-width: 2px;
    border-color: #111;
}
.data p{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
    margin-left: 7px;
    margin-right: 5px;
    justify-content: center;
    font-family: monospace;
    word-wrap: break-word;
    cursor: default;
}
span{
  animation: blink 1s infinite;
}
@keyframes blink{
  to{opacity: .0;}
}


/* Right bar */
.others{
    background-color: #1d1f21;
    width: 40px;
    height: 100%;
    margin-left: 730px;
    overflow-x: hidden;
}

